/* Whole document: */
body{
  font-size: 11pt;
}
/* Headers */
h2,h3,h4,h5,h6{
  font-size: 14pt;
  line-height: 1.8;
  color: #636363;
}
/* title: */
h1{
  font-size: 14pt;
  line-height: 1.8;
  color: black;
}
